

<h4>Search Movies</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchResult">
          
            <div class="form-group">
                <label for="SearchMovie" class="control-label"></label>
                <input name="SearchMovie" class="form-control" />
               
            </div>
           
            <div class="form-group">
                <input type="submit" value="Find" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
